In [27]:
import pandas as pd

csv1 = pd.read_csv("C:\\Users\\XPS\\OneDrive\\Desktop\\Jupyter Notebook\\Pandas\\enterprise-data.csv")
csv1

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
20119,2023,all,All Industries,j_Grand_Total,Total income,930995,DOLLARS(millions)
20120,2023,all,All Industries,j_Grand_Total,Total expenditure,832964,DOLLARS(millions)
20121,2023,all,All Industries,j_Grand_Total,Operating profit before tax,103616,DOLLARS(millions)
20122,2023,all,All Industries,j_Grand_Total,Total assets,2831894,DOLLARS(millions)
20123,2023,all,All Industries,j_Grand_Total,Fixed tangible assets,681890,DOLLARS(millions)

In [15]:
csv2 = pd.read_csv("C:\\Users\\XPS\\OneDrive\\Desktop\\Jupyter Notebook\\Pandas\\enterprise-data.csv" , nrows = 5)
csv2
# print(type(csv2))

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)

In [21]:
csv3 = pd.read_csv("C:\\Users\\XPS\\OneDrive\\Desktop\\Jupyter Notebook\\Pandas\\enterprise-data.csv" , nrows = 5 , usecols = ["industry_name_ANZSIC"])
csv3

                industry_name_ANZSIC
0  Agriculture, Forestry and Fishing
1  Agriculture, Forestry and Fishing
2  Agriculture, Forestry and Fishing
3  Agriculture, Forestry and Fishing
4  Agriculture, Forestry and Fishing

In [25]:
csv3 = pd.read_csv("C:\\Users\\XPS\\OneDrive\\Desktop\\Jupyter Notebook\\Pandas\\enterprise-data.csv" , nrows = 10 , skiprows = [2,4,7])
csv3

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,Total expenditure,7618,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total assets,55700,DOLLARS(millions)
5,2011,A,"Agriculture, Forestry and Fishing",a_0,Fixed tangible assets,32155,DOLLARS(millions)
6,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Activity unit,21777,COUNT
7,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Rolling mean employees,38136,COUNT
8,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Salaries and wages paid,1435,DOLLARS(millions)
9,2011,A,"Agriculture, Forestry and Fishing",b_1-5,"Sales, government funding, grants and subsidies",13359,DOLLARS(millions)

In [31]:
csv4 = pd.read_csv("C:\\Users\\XPS\\OneDrive\\Desktop\\Jupyter Notebook\\Pandas\\enterprise-data.csv" , index_col = "industry_name_ANZSIC")
csv4

,year,industry_code_ANZSIC,rme_size_grp,variable,value,unit
industry_name_ANZSIC,,,,,,
"Agriculture, Forestry and Fishing",2011,A,a_0,Activity unit,46134,COUNT
"Agriculture, Forestry and Fishing",2011,A,a_0,Rolling mean employees,0,COUNT
"Agriculture, Forestry and Fishing",2011,A,a_0,Salaries and wages paid,279,DOLLARS(millions)
"Agriculture, Forestry and Fishing",2011,A,a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
"Agriculture, Forestry and Fishing",2011,A,a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...
All Industries,2023,all,j_Grand_Total,Total income,930995,DOLLARS(millions)
All Industries,2023,all,j_Grand_Total,Total expenditure,832964,DOLLARS(millions)
All Industries,2023,all,j_Grand_Total,Operating profit before tax,103616,DOLLARS(millions)
All Industries,2023,all,j_Grand_Total,Total assets,2831894,DOLLARS(millions)
All Industries,2023,all,j_Grand_Total,Fixed tangible assets,681890,DOLLARS(millions)